:root {
    --cor-texto: #1c1c1c;
}

body.dark-theme {
    --cor-texto: #ffffff;
}

@media (max-width: 800px) {
    .darkmode {
        margin-top: 0;
    }

    body {
        grid-template-columns: 1fr;
    }

    .container {
        border: none;
        padding: 0 1rem 1rem;
        text-align: center;
    }

    #sidebar {
        height: 60px;
        width: 100dvw;
        border-right: none;
        border-top: 1px solid #42434a;
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;


        >ul {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 60px);
            grid-auto-flow: column;
            justify-content: space-evenly;
            align-items: center;
            overflow-x: hidden;
        }

        ul li {
            height: 100%;
        }

        ul a,
        ul .dropdown-btn {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        /* desativando a logo e as svg*/
        ul li span,
        ul li:first-child,
        .dropdown-btn svg:last-child {
            display: none;
        }

        /* fazendo aparecer a lista no modo mobile*/
        ul li .sub-menu.show {
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 61px;
            width: 100%;
            background-color: var(--bg-color);
            border-top: 1px solid black;
            display: flex;
            justify-content: space-evenly;

            /* definindo se vai ter rolagem horizontal*/
            >div {
                overflow-x: auto;
                display: flex;
                justify-content: left;
                margin-left: 10px;
            }

            /* fazendo aparecer todas as opções */
            li {
                display: inline-flex;
            }

            /* ajustando os links  */
            a {
                box-sizing: border-box;
                padding: 1em;
                width: auto;                
                border: 1px solid var(--border-color);
                border-radius: 1rem;
                margin-left: 10px;
            }
            a:hover {                
                border: 1px solid var(--border-color)
            }
            
        }

    }

    /* botao do theme */
    .btn-mode {
        box-sizing: border-box;
        width: 90%;
        margin: auto;
        padding-block: 1rem;
        border-radius: 50%;

        >i {
            padding: 0;
            display: block;
            background-color: none;
        }

    }

    .container h1,
    h2 {
        padding: min(1em, 8%);
        line-height: 1.5;
        margin: auto;
    }

    .container h3 {
        padding: 10px;
        font-size: 3rem;
        margin: auto;
        line-height: 1.5;
    }

    .container p {
        text-align: left;
        text-indent: 1rem;
        margin: auto;
        font-size: 1.3rem;
        line-height: 1.4;
    }

    .footer {
        margin-bottom: 40px;
        height: 15px;
    }
    .footer p {
        text-align: center;
    }
    

    footer p>a:hover {
        color: inherit;
        letter-spacing: normal;
        transition: none;
        border: none;
        padding: 0;
        border-radius: 0;
        background: none;
    }

    /* Sobre a pag de bdo */

    .bdo {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        gap: 2rem;
    }

    .bdo-content {
        display: grid;
        text-align: center;
        margin-top: 2rem;
    }

    .bdo-content .span-line {
        line-height: 1.5;
    }

    .bdo-content span {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .bdo .p {
        font-size: 2rem;
    }

    #harp,
    #byes {
        line-height: 1.5;
    }


    .bdo-content iframe {
        width: min(250px);
        height: 500px;
        overflow: hidden;
        border-radius: 1rem;
    }

    .container>#h2vid {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 4rem;
    }

    .breve {
        line-height: 1.5;
        margin-bottom: 45px;
    }

    .breve span {
        margin-top: 5px;
    }

    .link-wf {
        display: grid;
        margin-bottom: 45px;
    }

    .link-wf span {
        margin-top: 10px;
    }

    .link-wf .p {
        line-height: 1.5;
        font-size: 2em;
    }

    .link-wf ul {
        line-height: 1.5;
    }

    .link-wf ul li a {
        font-size: 1rem;
        color: black;
        font-weight: 600;

    }
}






@media screen and (min-width: 801px) {
    #sidebar {
        height: 99.5dvh;
        top: 2px;
        margin-left: 1px;
        border: 1px solid #42434a;
        border-radius: 0 1rem 1rem 0;
    }

    main {
        text-align: center;
    }

    #sidebar ul {
        row-gap: calc(4dvh - 10px);
    }

    #sidebar.close {
        border-radius: 0;
    }

    /* dark mode */
    .darkmode {
        margin-top: 30px;
        display: grid;
        justify-content: center;
        width: 100%;
        text-align: center;
        overflow: hidden;
        font-size: 24px;
    }

    .btn-mode {
        width: 100%;
        background: none;
        border: 1px solid black;
        border-radius: 1rem;
    }

    .btn-theme {
        border-radius: .5em;
        padding: .85em;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

    }

    /* Sobre a pag de bdo */

    .bdo {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        gap: 2rem;
    }

    .bdo-content {
        display: grid;
        text-align: center;

    }

    .bdo-content span {
        font-size: 1.6rem;
        font-weight: 500;
        background: -webkit-linear-gradient(#001eff, #8900ff, #ff008d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 5px;
    }

    .bdo-content .title-music {
        font-size: 2.5rem;
    }

    .bdo-content .music {
        font-size: 1.5rem;
    }
    .bdo-content .music-duration {
        font-size: 1.2rem;
    }

    .bdo .p {
        font-size: 2rem;
    }

    .bdo-content iframe {
        width: max(400px);
        height: 700px;
        overflow: hidden;
    }

    .container>#h2vid {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 4rem;
    }

    .breve span {
        line-height: 3rem;
    }

    .neon iframe {
        position: absolute;
        background-color: none;
        inset: 5px;
        border-radius: 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }


    .link-wf {
        display: grid;
    }

    .link-wf .p {
        line-height: 1.5;
        font-size: 2em;
    }

    .link-wf ul {
        line-height: 1.5;
    }

    .link-wf ul li a {
        font-size: 1.5rem;
        font-weight: 600;
        background: -webkit-linear-gradient(#001eff, #8900ff, #ff008d);
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }



    .link-wf ul li a:hover {
        background-color: #42434a;
        color: magenta;
        padding: 5px;
        border: 1px solid magenta;
        border-radius: 6px;
        letter-spacing: 1.43px;
        transition: .4s linear;

        i {
            color: white;
        }
    }

    /* titulo do home */

    .container h1 {
        line-height: 1;
    }

    strong {
        background: -webkit-linear-gradient(#001eff, #8900ff, #ff008d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .container h2 {
        line-height: 1;
    }

    .container p {
        line-height: 1.4;
    }


    footer a {
        transition: background-color color .5s linear;
        background: -webkit-linear-gradient(#001eff, #8900ff, #ff008d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}